@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #041833 16.62%,#041833 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  background: #a59586;
  
}

.cabecalho-imagem {
  height: 60px;
  width: 70px;
  border-radius: 50%;
  border-left: 90%;
}

.cabecalho-menu {
  
  display: flex;
  gap: 22px;

  
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: white;

  font-size: 20px;

  
}

.conteudo {
  margin-bottom: 30px;
  border-top: 0.4px solid white;
  margin-left: 1.0%;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 56px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgb(255, 255, 255);
  transition: .5s;
}

.conteudo-principal-imagem {
  height: 400px;
  width: 450px;
  margin-top: 60px;
  margin-right: 20px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.rodape-imagem {
  height: 150px;
  margin-left: 32.7%;
  display: block;
}
.btnOpenModal {
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

hr {
  border: 0px;
  border-top: 1px solid lightgray;
}

.modal-container {
  width: 100vw;
  position: fixed;
  top: center;
  display: none;
  z-index: 999;
  justify-content: center;
  text-align: center;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .5s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

span {
  margin: 10px auto;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.btns button {
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btnOK {
 background-color: blue!important;
}
.btnAtendimento {
  background-color: green!important;
 }
 

 @media (max-width: 500px) {
  .modal {
    padding: 10px;
    width: 80%;
  }   

  span, .btns button {
    font-size: smaller;
  }
 }